{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

<style>
  .wideCell {
    width: 150px;
  }
  .textCenter {
    text-align: center;
  }
</style>

{% block navbar %}
  {{ super() }}
{% endblock %}
  
{% block content %}
  <h3>Order List</h3>
  <br/>
  <table>
    <tr>
      <th>OrderID</th>
      <th>CustomerID</th>
      <th>Customer Name</th>
      <th>Order Date</th>
      <th>Detail</th>
    </tr> 
    {% for row in rows %}
    <tr>
      <td class="textCenter">{{row["OrderID"]}}</td>
      <td class="textCenter">{{row["CustomerID"]}}</td>
      <td class="wideCell textCenter">{{row["FirstName"] ~ " " ~ row["LastName"]}}</td>
      <td class="textCenter">{{row["OrderDate"]}}</td>
      <td class="wideCell textCenter"><a href="{{ url_for('orderDetails', OrderID=row['OrderID']) }}">Order Detail</a></td>
    </tr> 
    {% endfor %}
  </table>
{% endblock %}