{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

<style>
  .wideCell {
    width: 150px;
  }
  .textCenter {
    text-align: center;
  }
</style>

{% block navbar %}
  {{ super() }}
{% endblock %}
  
{% block content %}
  <h3>Order Detail List</h3>

  <table>
    <tr>
      <th>Order Detail ID</th>
      <th>Order ID</th>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Quantity</th>
    </tr>
    {% for row in rows %}
    <tr>
      <td class="wideCell textCenter">{{row["OrderDetailID"]}}</td>
      <td class="wideCell textCenter">{{row["OrderID"]}}</td>
      <td class="wideCell textCenter">{{row["ProductID"]}}</td>
      <td class="wideCell textCenter">{{row["ProductName"]}}</td>
      <td class="wideCell textCenter">{{row["Quantity"]}}</td>
    </tr> {% endfor %}
  </table>
{% endblock %}