{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

<style>
  .wideCell {
    width: 150px;
  }
  .textCenter {
    text-align: center;
  }
</style>

{% block navbar %}
  {{ super() }}
{% endblock %}
  
{% block content %}
  <h3>Order Detail List</h3>

  <table>
    <tr>
      <th>Order Detail ID</th>
      <th>Order ID</th>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Quantity</th>
    </tr>
    {% for row in rows %}
    <tr>
      <td class="wideCell textCenter">{{row["OrderDetailID"]}}</td>
      <td class="wideCell textCenter">{{row["OrderID"]}}</td>
      <td class="wideCell textCenter">{{row["ProductID"]}}</td>
      <td class="wideCell textCenter">{{row["ProductName"]}}</td>
      <td class="wideCell textCenter">{{row["Quantity"]}}</td>
    </tr> {% endfor %}
  </table>
  
  <!-- Pagination Links -->
  <div>
    {% if prev_page %}
        <a href="{{ url_for('orderDetails', page=prev_page) }}">Previous</a>
    {% endif %}
    &nbsp;
    {% for i in range(1, total_pages + 1) %}
        {% if i == current_page %}
            <span>{{ i }}</span>
        {% else %}
            <a href="{{ url_for('orderDetails', page=i) }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    &nbsp;
    {% if next_page %}
        <a href="{{ url_for('orderDetails', page=next_page) }}">Next</a>
    {% endif %}
  </div>
{% endblock %}