{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

{% block style %}
  {{ super() }}
{% endblock %}

{% block navbar %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h3>Product List</h3>
  <br/>
  <table>
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Product Price</th>
    </tr> 
    {% for row in rows %}
    <tr>
      <td class="wideCell textCenter">{{row["ProductID"]}}</td>
      <td class="wideCell textCenter">{{row["ProductName"]}}</td>
      <td class="wideCell textCenter">{{"%.2f" | format(row["Price"])}}</td>
    </tr> 
    {% endfor %}
    </table>
    
  <!-- Pagination Links -->
  <div>
    {% if prev_page %}
        <a href="{{ url_for('products', page=prev_page) }}">Previous</a>
    {% endif %}
    &nbsp;
    {% for i in range(1, total_pages + 1) %}
        {% if i == current_page %}
            <span>{{ i }}</span>
        {% else %}
            <a href="{{ url_for('products', page=i) }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    &nbsp;
    {% if next_page %}
        <a href="{{ url_for('products', page=next_page) }}">Next</a>
    {% endif %}
  </div>
{% endblock %}
